*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eaeded;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
